html
    head
    body
        h1="Productos con Pug"
        if productos<=0
            h2='No hay productos'
        else
            table(style="border: 1px solid #000000;border-collapse: collapse;")
                th(style="border: 1px solid #000000;border-collapse: collapse;")="Titulo"
                th(style="border: 1px solid #000000;border-collapse: collapse;")="Precio"
                th(style="border: 1px solid #000000;border-collapse: collapse;")="Imagen"
                each val in productos.length ? productos : ['There are no values']
                    tr(style="border: 1px solid #000000;border-collapse: collapse;")
                        td(style="border: 1px solid #000000;border-collapse: collapse;")= val.titulo
                        td(style="border: 1px solid #000000;border-collapse: collapse;")= val.precio
                        td(style="border: 1px solid #000000;border-collapse: collapse;"): img(style="width: 100px; height" src=val.url)
        a(href="http://localhost:8080/index.html" style="text-decoration: none; background-color: rgb(33, 134, 251); color:white;") Ir al formulario